@import "tailwindcss";

@theme {
  --color-primary: #06f9d0;
  --color-background-light: #EEF6F6;
  --color-nordic-dark: #19322F;
  --color-nordic-muted: #5C706D;
  --color-mosque: #006655;
  --color-hint-of-green: #D9ECC8;
  --color-clear-day: #EEF6F6;

  --font-display: "SF Pro Display", "Inter", sans-serif;
  --font-sans: "SF Pro Display", "Inter", sans-serif;

  --shadow-soft: 0 10px 40px -10px rgba(0,0,0,0.05);
  --shadow-card: 0 4px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
}

:root {
  --background: var(--color-clear-day);
  --foreground: var(--color-nordic-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Hide scrollbar for horizontal scrolling areas */
@layer utilities {
  .hide-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }
}
